doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/main.css")
    meta(charset="UTF-8")
    title Contact Confirmation
  body
    include navigationbar
    h1 Contact Form Submitted
    p Your form has been submitted successfully!