doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/main.css")
    meta(charset="UTF-8")
    title Error Page
  body
    nav
      ol.navigation
        li.other.pages
          a(href="/main") Candies Galore
        li.other.pages
          a(href="/contact") Contact Form
        li.other.pages
          a(href="/testimonies") Testimonies
        li.other.pages
          a(href="/admin/contactlog") Contact Log
    h1 Contact Form Error