doctype html
head
  meta(charset='UTF-8')
  title Candies Galore
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  link(rel='stylesheet' type='text/css' href='/css/main.dark.css')
include navigationbar
#saleText.banner
h1.mainpage_title Candies Galore
h2.mainpage_subtitle Take as many as you want, we still have plenty left!
img.main_image(src='https://upload.wikimedia.org/wikipedia/commons/c/c3/Candy_Store_%60%60Candy_Kitchen%60%60_in_Virginia_Beach_VA%2C_USA_%289897068866%29.jpg' alt='Candy store' width='900' height='800')
.textbox
  p
    | Candies Galore is a newly opened candy shop in the Mall of America that has the most candy options of any candy store in the entirety of the 
    i United States
    | .
    |     The amount of choices offered along with the quality and quanity of the product should leave all the customers satisfied with the service. To name a few of the options:
  ol
    li Kit Kats
    li Toblerone
    li Ferrero Rocher Hazlenut
    li Tootsie Rolls
  p
    | The prices for said candy are extremely generous and would certainly make the adventure around the mall delightful. So please come check out 
    strong Candies Galore
    |  at the Mall of America!.
script(src='/js/main.js')
script(src='/js/bannerUpdate.js')
