nav
  ol.navigation
    li: a(href="/main") Candies Galore
    li: a(href="/contact") Contact Form
    li: a(href="/testimonies") Testimonies
    li: a(href="/admin/contactlog") Contact Log
    li: button.theme Toggle Theme